{% import 'user/uploadmodal.html' as uploadMacro %}
{% extends 'user/userbase.html' %}

{% block content %}
<div class="container mt-4">

    <!-- File Navigation Tabs -->
    <div class="d-flex pb-5">
      <h5 class="" title="the following clouds have not been linked: 
        {% for x in user.unAuthClouds%}
          {{x}}
        {% endfor %}">
        {% if not user.isAuthorizedForUpload %}
          NOT ready for upload!
        {% endif %}
      </h5>
      <button class="btn btn-outline-dark active ms-auto "data-bs-toggle="modal" data-bs-target="#uploadModal">Upload File</button>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-0 mt-0">
      <div class ="d-flex">
        <a href="{{ url_for('dashboard.viewFiles', tab='myfiles') }}" class="btn   d-flex align-items-center justify-content-center custom-inner-btn {% if active_tab == 'myfiles' %}  active {% else %} {% endif %} me-2">
            My Files
        </a>

        <a href="{{ url_for('dashboard.viewFiles', tab='shared') }}" class="btn  d-flex align-items-center justify-content-center custom-inner-btn  {% if active_tab == 'shared' %}active {% else %}{% endif %}">
            Shared With Me
        </a>
      </div>
    
    <form class="mb-3 mt-2" method="get" action="{{ url_for('dashboard.viewFiles', tab=active_tab) }}">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search your files..." value="{{ request.args.get('q', '') }}">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </div>
    </form>
  
    
    </div>
    <hr class="custom-blackline mt-0 ">
    <!-- File List Header -->
  <div class="row fw-bold border-bottom pb-2 mb-2 mt-5">
    <div class="col-4">
      Filename
    </div>

    <div class="col-2 d-none d-md-block">
      Size
    </div>

    <div class="col-2">
      File Type
    </div>

    {% if active_tab == 'shared' %}
      <div class="col-3">
        File Owner
      </div>
      <div class="col-1">
      Actions
    </div>
    {% else %}

    <div class="col-4  text-center">
      Actions 
    </div>

    {% endif %}

    
  </div>

    
    
    <div class="file-list-container" style="max-height: 70vh;  overflow-y: 0;  z-index: 0;">
    {% for file in files %}
      {% if active_tab == 'myfiles' %}

    <div class="d-flex align-items-center justify-content-between border rounded-pill py-2 px-3 mb-2 bg-white shadow-sm">
      
      <div class="col-9 d-flex align-items-center gap-4 overflow-hidden">
        <div class="text-truncate col-4 " style="max-width: 45%;">
          <strong >{{ file.fileName }}</strong>
        </div>
        <div class=" col-3 ms-5 d-none d-md-block">{{ file.fileSizeString }}</div>
        <div class="text-muted  col-2 ">{{ file.fileType }}</div>
      </div>

      <!-- Inline buttons for md and up -->
       <div class="col-3 d-flex gap-2 d-none d-md-flex justify-content-center ">

        <button onclick="downloadFileModal('{{file.localFileIdentifier}}')" class="btn btn-sm btn-outline-dark d-flex align-items-center 
        justify-content-center "  title="Download file">
          <i class="fa-solid fa-download"></i>
        </button>
       
        <button type="button" class="btn btn-sm btn-outline-primary d-flex align-items-center justify-content-center" 
        onclick="shareFileModal('{{file.localFileIdentifier}}','{{file.fileName}}')"
        title="Share File">
          <i class="fas fa-share"></i>
        </button>

        <button class="btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center" 
              onclick="viewFileSharedUsers('{{ file.localFileIdentifier }}', '{{ file.fileName }}')"
              type="button" title="View File Share">
          <i class="bi bi-people-fill"></i>
          </button>
        
        <button type="button" class="btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center" onclick="deleteFileModal('{{file.localFileIdentifier}}','{{file.fileName}}')" title="Delete File">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>

      <!-- Hamburger dropdown for small screens -->
      <div class="dropdown d-flex d-md-none">
        <button class="btn btn-sm btn-outline-secondary" type="button" id="dropdownMenuButton{{ loop.index }}" data-bs-toggle="dropdown" aria-expanded="false" title="Actions">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton{{ loop.index }}">
          <li>
            <a onclick="downloadFileModal('{{file.localFileIdentifier}}')" class="dropdown-item d-flex align-items-center gap-2 " >
              <i class="fa-solid fa-download"></i> Download
            </a>
          </li>
          
          <li>
            <button class="dropdown-item d-flex align-items-center gap-2" 
            onclick="shareFileModal('{{file.localFileIdentifier}}','{{file.fileName}}')"
            type="button" title="Share File">
              <i class="fas fa-share"></i> Share File
            </button>
          </li>
          <li>
            <button class="btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center" 
                    onclick="viewFileSharedUsers('{{ file.localFileIdentifier }}', '{{ file.fileName }}')"
                    type="button" title="View File Share">
              <i class="bi bi-people-fill"></i> View Users With File Access
            </button>
          </li>
          <li>
            <button class="dropdown-item d-flex align-items-center gap-2 text-danger" onclick="deleteFileModal('{{file.localFileIdentifier}}','{{file.fileName}}')" type="button" title="Delete File">
              <i class="fas fa-trash-alt"></i> Delete
            </button>
          </li>
        </ul>
      </div>

    </div>
    
  	{% elif active_tab == 'shared' %}
    	<!-- Shared Files -->
    	<div class="d-flex align-items-center justify-content-between border rounded-pill py-2 px-3 mb-2 bg-white shadow-sm">
      	<div class="text-truncate col-3">
        	<strong>{{ file.filename }}</strong>
      	</div>
        <div class=" col-2 d-none d-md-block">{{file.fileObject.fileSizeString}}</div>
        <div class=" col-2">{{file.fileObject.fileType}}</div>
        <div class="col-2">{{file.shared_by}}</div>
      	<div class="col-1">
        	<button onclick='downloadSharedFile("{{file.fileObject.localFileIdentifier}}","{{file.file_id}}")' class="btn btn-sm btn-outline-dark" title="Download file">
          	<i class="fa-solid fa-download"></i>
        	</button>
      	</div>
    	</div>
  	{% endif %}

    {% endfor %}
    
  </div>



  <!--PAGINATION STUFF-->
  <div class="d-flex justify-content-center mt-4">
    <nav aria-label="File pagination">
      <ul class="pagination pagination-sm mb-0">

        {% if pagination.pages > 0 %}
            {% if pagination.has_prev %}
            <li class="page-item">
              <button class="page-link" href="{{ url_for('dashboard.viewFiles', tab=active_tab, page=pagination.prev_num) }}" aria-label="Previous">
                &laquo; Prev
              </butto >
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link">&laquo; Prev</span>
            </li>
            {% endif %}

            <li class="page-item disabled">
              <span class="page-link">
                Page {{ pagination.page }} of {{ pagination.pages }}
              </span>
            </li>

            {% if pagination.has_next %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('dashboard.viewFiles', tab=active_tab, page=pagination.next_num) }}" aria-label="Next">
                Next &raquo;
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link">Next &raquo;</span>
            </li>
            {% endif %}

          </ul>
          {% else %}
          <div class="mt-5 pt-5 text-muted">
            You do not have any files to view
          </div>

        {% endif %}
      
    </nav>
  </div>
  <div style="padding-top: 50px;"></div>
  {{ uploadMacro.upload_modal(uploadForm) }}
  </div>

<!-- View Shared Users Modal -->
<div id="viewSharedUsersModal" class="modal fade" tabindex="-1" aria-labelledby="viewSharedUsersModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <h3>Users with access to <span id="sharedFileName"></span></h3>
      <ul class="list-group mt-3" id="sharedUsersList">
        <!-- Populated dynamically -->
      </ul>
      <div class="d-none text-muted mt-2" id="noUsersMessage">No users have access to this file.</div>
      <button type="button" class="btn btn-outline-secondary mt-4" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>


<!-- Delete Confirmation Modal -->
<div id="deleteModal" class="modal fade" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4">
        <h3>Confirm deletion of <span id="fileNameForDeletion"></span></h3>
        <hr>
        <p>-This CANNOT be undone</p>
        <p>-Only fragments of the target file to be deleted stored on the currently selected clouds will be deleted. Please go to 'My Clouds'
           if you need to login to the correct cloud account before proceeding with deletion.
        </p>
      
        <h4 id="modalFileName" class="mt-2 mb-3"></h4>
        <div id="deletionProgression">
          <h6 id="deletionProcess"></h6>
          <div id="deletionSpinner" class="spinner-border text-primary" role="status" style="display: none;"></div>
        </div>
      <form id="deleteForm" method="POST">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <button type="submit" class="btn btn-danger me-3">Confirm</button>
      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
      </form>
      </div>
    </div>
  </div>

  <!-- Download Progress Modal -->
<div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadProgressModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <h5 class="modal-title mb-3" id="downloadModalLabel">Download File</h5>
      
      <div id="inputPasswordDiv">
        <div id="inputPass">
          <label for="inputPassword">Please enter your account password:</label>
        <input type="password"  id="inputPassword" class="form-control mb-3" required>
        </div>
        <button id="downloadButton" class="btn btn-outline-dark mb-3" onclick="handleDownloadClick()">Download And Decrypt File</button>
        <h4 id="passwordError" style="color: red; font-size: smaller;"></h4>
      </div>
      <div class="d-none" id="processInfo">
        <div id="processContainer" class="d-flex">
           <div id="currentProcess" class="small ms-3 me-2"></div>
          <div class="spinner-border spinner-border-sm " role="status"></div>
        </div>
       
      <div class="progress">
        <div class="progress-bar" id="downloadProgressBar" role="progressbar" style="width: 0%;" aria-valuenow="0"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      </div>
      
    </div>
  </div>
</div>


<!-- ShareFile Modal -->
<div id="shareFileModal" class="modal fade" tabindex="-1" aria-labelledby="shareFileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4">
        <h3>Share <span id="fileNameForSharing"></span></h3>
        
        <div id="sharePasswordContainer" class="d-none">
          <label for="sharePassword">Please Enter your password:</label>
        <input type="password" id="sharePassword" class="form-control" >
        </div>
        
      <form id="shareFileForm" method="POST">
        <input type="hidden" id="localFileIdentifier" name="localFileIdentifier">
        <div class="mb-3 mt-3"> 
          <input type="text" id="shareUsername"  name="shareUsername" class="form-control" placeholder="username of recipient">
        </div>
       <div class="d-none d-flex" id="shareProcess">
        <div class="spinner-border spinner-border-sm mb-3 me-2" role="status" id="shareSpinner"> </div>
        <div>Sharing file...</div>
       </div>
        <button type="submit" class="btn btn-success me-3">Confirm</button>
      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
      </form>
      </div>
    </div>
  </div>



</div>


<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" 
integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" 
crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/crypto.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"></script>

<script>

  const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
  
  const downloadModalEl = document.getElementById('downloadModal');
  const downloadBtn = document.getElementById('downloadButton');
  const progressBar = document.getElementById('downloadProgressBar');
  const currentProcess = document.getElementById('currentProcess');
  const passwordError = document.getElementById('passwordError');
  const inputPassword = document.getElementById('inputPassword');
  const processInfo = document.getElementById('processInfo');
  const shareSpinnerProcess = document.getElementById("shareProcess");

  let inDeletion = false;
  let inSharing = false;
  let keyInMemory = null;
  let currentModal = null;
  let downloadingSharedFile = false;
  

  downloadModalEl.addEventListener('hidden.bs.modal', () => {
  // Reset progress bar
  progressPercent = 0;
  progressBar.style.width = '0%';
  progressBar.setAttribute('aria-valuenow', 0);
  // Reset status text
  currentProcess.innerText = '';
  passwordError.innerText = '';

  downloadBtn.removeAttribute('data-fileid');
 
  inputPassword.value = '';

  processInfo.classList.add('d-none');
  });





// for downloading shared files: 
  async function downloadSharedFile(localFileIdentifier,fileId){
    downloadingSharedFile = true;
    downloadFileModal(localFileIdentifier);
  }


  //viewing file shares 
  async function viewFileSharedUsers(fileId, fileName) {
  const modal = new bootstrap.Modal(document.getElementById('viewSharedUsersModal'));
  const sharedUsersList = document.getElementById('sharedUsersList');
  const sharedFileName = document.getElementById('sharedFileName');
  const noUsersMessage = document.getElementById('noUsersMessage');

 
  sharedFileName.textContent = fileName;

  
  sharedUsersList.innerHTML = '';
  noUsersMessage.classList.add('d-none');

  const fd = new FormData();
  
  fd.append('localFileIdentifier',fileId);
  
   try {
    const response = await fetch('{{url_for("share.getSharedUsers")}}', {
                            method: 'POST',
                            headers: {
                              'X-CSRFToken': csrfToken,
                            },
                            credentials: 'include',
                            body: fd
                                });
    
    const responseJson = await response.json();                            
    if (responseJson.success){
      const users = responseJson.recipients;
      if (users.length === 0) {
      noUsersMessage.classList.remove('d-none');
      } else {
        users.forEach(user => {
          const li = document.createElement('li');
          li.className = 'list-group-item d-flex justify-content-between align-items-center';
          
          li.textContent = '';
          li.innerHTML = `
            <span>${user}</span>
          `;
          
          const revokeBtn = document.createElement('button');
          revokeBtn.className = 'btn btn-sm btn-outline-danger bi bi-x-circle-fill';
          revokeBtn.onclick = () => revokeAccess(fileId, user, li);

        
          li.appendChild(revokeBtn);
          
          sharedUsersList.appendChild(li);
          });
        }
        modal.show();

    }else{
      // file error on server side ( doesnt exist) 
      showFlashMessage('danger',responseJson.message);

    }

    }catch (error) {
    console.error("Error fetching shared users:", error);
    noUsersMessage.classList.remove('d-none');
    noUsersMessage.textContent = "An error occurred. Please try again later.";
    modal.show();
    }
  }

  async function revokeAccess(fileId, username, listItemElement) {
  if (!confirm(`Are you sure you want to revoke access for '${username}'?`)) return;

  try {
    const response = await fetch('{{url_for("share.revokeFileAccessController")}}', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrfToken
      },
      credentials: 'include',
      body: JSON.stringify({
        fileId: fileId,
        username: username
      })
    });

    const result = await response.json();
    if (result.success) {
      // Remove the list item from UI
      listItemElement.remove();
      const sharedUsersList = document.getElementById('sharedUsersList');
      if (sharedUsersList.children.length === 0) {
      noUsersMessage.classList.remove('d-none');
      }
    } else {
      showFlashMessage('danger', result.message || 'Failed to revoke access.');
    }

  } catch (err) {
    console.error('Error revoking access:', err);
    showFlashMessage('danger', 'Something went wrong while revoking access.');
  }
}







 
  function shareFileModal(fileId,fileName){
    const modalElement = document.getElementById('shareFileModal');
    const modal = new bootstrap.Modal(document.getElementById('shareFileModal'));
    currentModal = modal;
    inSharing = true; 
      const socket = io("https://127.0.0.1:443", {
      transports: ["polling"],
      secure: true
    });

    socket.on("connect", () => {
      console.log("WebSocket SHARE   connected with ID:", socket.id);
    });

    socket.on("update", (msg) => {
      if (msg.step) {
        console.log(msg.step);
        if (inSharing){
          //update here

        }
              }
    });
    // show target file name: 
    document.getElementById('fileNameForSharing').textContent = fileName;
    document.getElementById('localFileIdentifier').value=fileId;
    shareSpinnerProcess.classList.remove('inline-block');
    shareSpinnerProcess.classList.add('d-none');

    const form = document.getElementById('shareFileForm');
  
    form.action = "{{ url_for('share.shareFileController') }}";
    const sharePasswordContainer = document.getElementById('sharePasswordContainer');
      if (keyInMemory == null){

        // get the password div to show 
       
       sharePasswordContainer.classList.remove('d-none');
      }else{
        sharePasswordContainer.classList.add('d-none');
      }
       
      
       
    // Cleanup WebSocket when modal is closed
    modalElement.addEventListener('hidden.bs.modal', () => {
        inSharing = false;
        if (socket && socket.connected) {
            socket.disconnect();
            console.log("WebSocket SHARE disconnected.");
        }
    });
    
    modal.show();
  }
  


  const shareFileForm = document.getElementById('shareFileForm');
  shareFileForm.addEventListener('submit', async function(event) {
    event.preventDefault();
    // file share logic here


    // get self cookie values: 
    // Retrieve key
    
      if (keyInMemory != null) {
        console.log('key in memkey:', keyInMemory);

      }else{
        // derive the key
        const ownerEncPrivateKey = getCookie('encPrivateKey_encrypted');
        const ownerEncSalt = getCookie('encSalt');
        const ownerEncIV = getCookie('encIV');
        

        const sharePassword  = document.getElementById('sharePassword').value;

        //derive the key: 
        const derivedKey = await deriveKeyFromPassword(sharePassword,ownerEncSalt);
        console.log(typeof derivedKey,derivedKey);

        const decryptedPrivateKey = await decryptEncPrivateKey(ownerEncPrivateKey, derivedKey, ownerEncIV);
        
        if (decryptedPrivateKey != null){
          //correct key, store in worker
          keyInMemory =decryptedPrivateKey;
          console.log('memkey set',keyInMemory);
         
          
        }else{
          console.log("error in setting mem key after dec");
          showFlashMessage('danger',"Password incorrect!");

          document.getElementById('sharePassword').value = "";
          currentModal.hide();
          currentModal = null;            
                return null;
        }
      }
        // get the required from server 
       const formData = new FormData(shareFileForm);
       formData.append('step',1);
     
       const res1 = await fetch( shareFileForm.action,{
                      method:"POST",
                       headers: {  
                            'X-CSRFToken': csrfToken,
                            },
                      credentials:"include",
                    body:formData});
      
        const jsonRes1 = await res1.json();
        if (!jsonRes1.success){
                const cancelButton = document.querySelector('#shareFileModal [data-bs-dismiss="modal"]');
                shareFileForm.reset();
                if (cancelButton) {
                cancelButton.click(); 
                }
                showFlashMessage('danger',jsonRes1.message);             
                return null;
            }else{
              const ownerFileKeyEnc = jsonRes1.ownerKey;
              const shareUsername = jsonRes1.shareUsername;
              const localFileIdentifier = jsonRes1.localFileIdentifier;
              const recipientPubKey = jsonRes1.recipientPublicKey;
              
              
              try{
                // decrypt the file key: 
                
                const fileKey = await RSADecryptAESKey(keyInMemory, ownerFileKeyEnc);
                //  encrypt w recipient's pub key:
                const recipientPubKeyImported = await importBase64PublicKey(recipientPubKey);
                const encryptedFileKeyForRecipient = await encryptRawAESKeyWithPublicKey(recipientPubKeyImported, fileKey);
                console.log('done! ',encryptedFileKeyForRecipient);

                const fd2 = new FormData();
                fd2.append('step',2);
                fd2.append('shareUsername',shareUsername);
                fd2.append('localFileIdentifier',localFileIdentifier);
                
                fd2.append('encFileKey',encryptedFileKeyForRecipient);
                shareSpinnerProcess.classList.remove('d-none');
                shareSpinnerProcess.classList.add('inline-block');
                
                const res2 = await fetch( shareFileForm.action,{
                      method:"POST",
                       headers: {  
                            'X-CSRFToken': csrfToken,
                            },
                      credentials:"include",
                    body:fd2});
                const jsonRes2 = await res2.json();
                if (!jsonRes2.success){
                
                    const cancelButton = document.querySelector('#shareFileModal [data-bs-dismiss="modal"]');
                    shareFileForm.reset();
                    if (cancelButton) {
                    cancelButton.click(); 
                    }
                    showFlashMessage('danger',jsonRes2.message);             
                  return null;
                }else{
                  // sharing was success
                  console.log ("sharing success");
                  const cancelButton = document.querySelector('#shareFileModal [data-bs-dismiss="modal"]');
                    shareFileForm.reset();
                    if (cancelButton) {
                    cancelButton.click(); 
                    }
                  showFlashMessage('success',"file successfully shared!");
                  return null;

                }

              }catch (error){
                console.log(error);
              }
              
            

      }
    
    
  })

  const deleteForm = document.getElementById('deleteForm');

  deleteForm.addEventListener('submit', async function(event) {
    
    
    event.preventDefault(); // Stop normal submit
    const spinner = document.getElementById("deletionSpinner");
    spinner.style="inline-block";
    const formData = new FormData(deleteForm);
    const action = deleteForm.action;
    try{
      const res = await fetch(action,{
                      method:"POST",
                    body:formData});
      
      if (!res.ok){
        const errorData = await res.json();
        if (errorData.redirect){
          window.location.href = errorData.redirect;
          return;
        }
      }else{
        window.location.reload();
      }

      // window.location.reload();
      
    }catch(err){
      console.error('Error:', err);
      alert('Failed to delete file.');
    }
    

    });

  
  function deleteFileModal(fileId,fileName){
    const modal = new bootstrap.Modal(document.getElementById('deleteModal'));
    inDeletion = true; 
      const socket = io("https://127.0.0.1:443", {
      transports: ["polling"],
      secure: true
    });

    socket.on("connect", () => {
      console.log("WebSocket DELETE connected with ID:", socket.id);
    });

    socket.on("update", (msg) => {
      if (msg.step) {
        console.log(msg.step);
        if (inDeletion){
          document.getElementById('deletionProcess').textContent = msg.step;

        }
              }
    });
    // show target file name: 
    document.getElementById('fileNameForDeletion').textContent = fileName;

    const form = document.getElementById('deleteForm');
    const actionString = "/delete/"+fileId;
    form.action = actionString; 

    
    modal.show();
  }
  

  let privateKey = undefined;
  let progressPercent = 0;




  function updateProcess(msg,percentIncrease=0){
     const currentProcess = document.getElementById('currentProcess');
    currentProcess.innerText = msg;

    const progressBar = document.getElementById('downloadProgressBar');

    let targetPercent = progressPercent + percentIncrease;
    if (targetPercent > 100) targetPercent = 100;

    const step = 1; 
    const interval = 50; 

    const intervalId = setInterval(() => {
      if (progressPercent >= targetPercent) {
        clearInterval(intervalId);
        return;
      }

      progressPercent += step;
      if (progressPercent > targetPercent) progressPercent = targetPercent;

      progressBar.style.width = progressPercent + '%';
      progressBar.setAttribute('aria-valuenow', progressPercent);
      progressBar.innerText = Math.floor(progressPercent) + '%';
    }, interval);
}
  async function deriveAndDecryptKey(encIV, encSalt, encPrivateKey_encrypted, password){
    // derive key via pbkdf: 
    const key = await deriveKeyFromPassword(password,encSalt);

    //decrypt the privateKey:
    try{
       const pvtKey = await decryptEncPrivateKey(encPrivateKey_encrypted,key,encIV);
        if (pvtKey ===null){
      updateProcess("Private key derivation error!");
      return null;
      
    }
    updateProcess("Private key derived successfully!",5);
    return pvtKey;
    }catch(err){
      
      document.getElementById("passwordError").innerText="Password incorrect! ";
      return null;
      }
   
   
  }

  function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) {
    cookieVal = parts.pop().split(';').shift();
    console.log("cookieVal->"+cookieVal);
    return cookieVal;
  }
  return null;

  }


  function handleDownloadClick() {
    const downloadBtn = document.getElementById('downloadButton');
    const fileId = downloadBtn.getAttribute('data-fileid');
    document.getElementById('processInfo').classList.remove('d-none');
    
    document.getElementById("passwordError").innerText="";

    console.log('hit handle');

    if (downloadingSharedFile){
      
      downloadSharedFileFromServer(fileId);
      downloadingSharedFile = false;
    }else{
      // /alert('normal dl');
      downloadFile(fileId);
    }
  
}

  function unsetDownloadButtonId(){
    const downloadBtn = document.getElementById('downloadButton');
    
    downloadBtn.setAttribute('data-fileid', '');
  }
  function downloadFileModal(fileId){
    const modal = new bootstrap.Modal(document.getElementById('downloadModal'));
    const progressBar = document.getElementById('downloadProgressBar');
    const currentProcess = document.getElementById('currentProcess');
    const downloadBtn = document.getElementById('downloadButton');
    document.getElementById("processInfo").style.display = "";
    progressPercent = 0; //reset here for next download 
    
    if (privateKey != null){
      // no need enter passwd again 
      document.getElementById('inputPass').style.display = "none";
    }
    downloadBtn.setAttribute('data-fileid', fileId);

    
    
    modal.show();
    
    

    const socket = io("https://127.0.0.1:443", {
      transports: ["polling"],
      secure: true
    });

    socket.on("connect", () => {
      console.log("WebSocket DOWNLOAD connected with ID:", socket.id);
    });

    socket.on("update", (msg) => {
      if (msg.step) {
        const progressBar = document.getElementById('progressBar');
        if(progressBar){
          progressBar.textContent = msg.step;
        }
        
      }
    });
    updateProcess("preparing to download...",2);

  }
  function decompressArrayBuffer(compressedBuffer) {
    // Convert the ArrayBuffer to a Uint8Array
    const compressedUint8 = new Uint8Array(compressedBuffer);
    // Decompress using pako
    const decompressedUint8 = pako.inflate(compressedUint8);
    // Return the decompressed data as an ArrayBuffer
    return decompressedUint8.buffer;
}

  async function retrieveAndDecryptFile(fileName,fileId,fileHash,key,iv) {
    
    try{
     updateProcess("retrieving File...",5);


      const response = await fetch('/download/'+fileId, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
          },
          credentials:"include"
        });
       const encryptedArrayBuffer = await response.arrayBuffer();
       updateProcess("Decrypting file...",25);
       await processUpdateMessage();

       // decrypt:
       
       try{
        const aesKey = await arrayBufferToAESKey(key);
        const decIV = await base64ToArrayBuffer(iv);
        const decrypted = await crypto.subtle.decrypt(
            {
              name: "AES-GCM",
              iv: decIV
            },
            aesKey,
            encryptedArrayBuffer
          );

        
          // check w hash: 
          updateProcess("Checking decrypted file integrity...",25);
          await processUpdateMessage();
          const downloadedHash = await  hashFileToBase64(decrypted);
          const decompressedFileBuffer = decompressArrayBuffer(decrypted)
          if (downloadedHash == fileHash){
            updateProcess("File integrity assured! DOWNLOADING FILE...");
            // download the file here 
            const decryptedBlob = new Blob([decompressedFileBuffer]);
            const url = URL.createObjectURL(decryptedBlob);
            const a = document.createElement('a');
            a.href = url;
            a.download = fileName; 
            document.body.appendChild(a);
            a.click();
            a.remove();
            URL.revokeObjectURL(url);
            updateProcess("file downloaded successfully!",100-progressPercent);
            return true;
          }

        

       }catch (err){
          //alert('Decryption failed..:'+err);
          return false;
       }
       


    } catch{
      alert('failed to retrieve file info');
    }  
  }



 async function retrieveAndDecryptSharedFile(fileName,fileId,fileHash,key,iv,nonce) {
    
    try{
     updateProcess("retrieving File...",5);

      console.log('localFileID = ',fileId);
      const response = await fetch('{{url_for("share.getSharedFile")}}', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
          },
          credentials:"include",
          body:JSON.stringify({
            step:'getFile',
            localFileIdentifier:fileId,
            nonce:nonce
          })
        });

      const contentType = response.headers.get('Content-Type');

      if (contentType && contentType.includes('application/json')) {
        // Probably an error message, parse it as JSON
        const errorData = await response.json();
        showFlashMessage(errorData.message,'danger');
        return;
      }
        
       const encryptedArrayBuffer = await response.arrayBuffer();
       updateProcess("Decrypting file...",25);
       await processUpdateMessage();

       // decrypt:
       
       try{
        const aesKey = await arrayBufferToAESKey(key);
        const decIV = await base64ToArrayBuffer(iv);
        const decrypted = await crypto.subtle.decrypt(
            {
              name: "AES-GCM",
              iv: decIV
            },
            aesKey,
            encryptedArrayBuffer
          );

        
          // check w hash: 
          updateProcess("Checking decrypted file integrity...",25);
          await processUpdateMessage();
          const downloadedHash = await  hashFileToBase64(decrypted);
          const decompressedFileBuffer = decompressArrayBuffer(decrypted)
          if (downloadedHash == fileHash){
            updateProcess("File integrity assured! DOWNLOADING FILE...");
            // download the file here 
            const decryptedBlob = new Blob([decompressedFileBuffer]);
            const url = URL.createObjectURL(decryptedBlob);
            const a = document.createElement('a');
            a.href = url;
            a.download = fileName; 
            document.body.appendChild(a);
            a.click();
            a.remove();
            URL.revokeObjectURL(url);
            updateProcess("file downloaded successfully!",100-progressPercent);
            return true;
          }

        

       }catch (err){
          //alert('Decryption failed..:'+err);
          showFlashMessage('Error in decryption - please try again or get file owner to resend the file','danger');
          return false;
       }
       


    } catch{
      alert('failed to retrieve file info');
    }  
  }




















  async function getFileDecryptionParms(fileId) {
    const decryptionParams = await fetch('/download/'+fileId, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
           
          },
           credentials: 'include',
          body: JSON.stringify({
            getDecryptionParams:true
          })
        });
    const decryptionParamsJson = await decryptionParams.json();
    console.log("Decryption Params:\n "+ JSON.stringify(decryptionParamsJson, null, 2));
    return decryptionParamsJson;
  }

  
  async function getShareFileDecryptionParms(localFileIdentifier) {
    const decryptionParams = await fetch('{{url_for("share.getSharedFile")}}', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
           
          },
           credentials: 'include',
          body: JSON.stringify({
            step:'getDecryptionParams',
            localFileIdentifier: localFileIdentifier
          })
        });
    const decryptionParamsJson = await decryptionParams.json();
    if (!decryptionParamsJson.success){
      console.log(decryptionParamsJson.message);
      return null;
    }
    console.log("Decryption Params:\n "+ JSON.stringify(decryptionParamsJson, null, 2));
    return decryptionParamsJson;
  }



  function flashAlert(message, type = "danger", duration = 3000) {
  const alertEl = document.getElementById("flashMessage");
  const alertText = document.getElementById("flashMessageText");

  if (!alertEl || !alertText) return;

  // Reset alert state
  alertEl.classList.remove("d-none", "alert-danger", "alert-success", "alert-warning", "alert-info", "show");
  // Set alert type (Bootstrap color class)
  alertEl.classList.add(`alert-${type}`);
  // Set message and show
  alertText.innerText = message;
  alertEl.classList.add("show");
  // Auto-hide after duration
  setTimeout(() => {
    alertEl.classList.remove("show");
 
    setTimeout(() => {
      alertEl.classList.add("d-none");
    }, 150); // Match Bootstrap's fade timing
  }, duration);
}

  function errorProcess(){

    bootstrap.Modal.getOrCreateInstance(document.getElementById('downloadModal')).hide();

    
    errorMsg="Error in file password validation, meta-data retrieval and/or download. Please try again or download a different file...";
    flashAlert(errorMsg);
    // document.getElementById("processInfo").style.display = "none";
    // const cancelButton = document.createElement("button");
    // document.getElementById("inputPasswordDiv").appendChild(cancelButton);
    // cancelButton.id = "CancelButton";
    // cancelButton.innerText = "Cancel";
    // cancelButton.className = "btn btn-danger btn-sm"; // Bootstrap styling (optional)
    //   cancelButton.onclick = function () {
        
    //     cancelButton.remove();
    //   };
  }

  async function downloadSharedFileFromServer(fileId){
    let needPreDownload = true;
    // get the decrypted PK if it is not in browser: 
    if (typeof privateKey!== 'undefined' && privateKey !== null){
      // key already exists
      console.log("already loaded-> ");
      needPreDownload = false;
      console.log(document.cookie);
      updateProcess("Preparations completed, starting download...",10);
      await processUpdateMessage();
    }else{
      
      // retrieve the encrypted Private Key, IV and Salt
      console.log("Retrieving pre-download data from server...");
      updateProcess("Retrieving pre-download data from server...",5);
      
      // pre download creds 
      const response = await fetch( '{{url_for("download.getCreds")}}',{
        method:'POST',
         credentials:"include",
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrfToken
        }
        
      });
      await processUpdateMessage();
      const jsonData = await response.json();
      
      if (needPreDownload){
        if (!response.ok) {
        
        updateProcess("Pre-download data retrieval failed, download cancelld");
        throw new Error('Network response was not ok');
        // to do: put some flash error msg here
        alert('Network response was not ok'); 
        
      }      
      }
 
      updateProcess("Obtaining private key for decryption...",5);
      await processUpdateMessage();
      //derive and decrypt here
      encIV = getCookie('encIV');
      encPrivateKey_encrypted= getCookie('encPrivateKey_encrypted');
      encSalt = getCookie('encSalt');
      enteredPass = document.getElementById('inputPassword').value;

      
      privateKeyDecrypted = await deriveAndDecryptKey(encIV,encSalt,encPrivateKey_encrypted,enteredPass);

      if (privateKeyDecrypted===null){
        updateProcess("ERROR: Password for decryption incorrect! "); // not required, will be caught as exception
        errorProcess();
        return false;
      } 
      else{
        // set the private key to the var
      privateKey = privateKeyDecrypted;
       console.log("private key obtained");
      }}  
      
      //pre download:
      updateProcess("Processing file meta-data...",5);
      await processUpdateMessage();
       
      const decryptionParams = await getShareFileDecryptionParms(fileId);
      
      if (decryptionParams === null){
        alert("There was an issue obtaining the share key. Please get the file's owner to re-send the file.");
        return null;
      }
      const encryptedFileKey = decryptionParams.key;
      const encryptionFileIV = decryptionParams.encIV;
      const fileHash = decryptionParams.fileHash;
      const fileName = decryptionParams.fileName;
      const nonce = decryptionParams.nonce;

      try{
        console.log(privateKey);
        const AESFileKeyBuffer = await RSADecryptAESKey(privateKey,encryptedFileKey);
        //alert(AESFileKeyBuffer);
        updateProcess("File meta-data processed successfully! ",2);
        updateProcess("Retrieving file...",1);
        console.log('done meta decrypt');

        // TODO
        // decrypt the file using aes key 
        // hash the plaintext file client side to compare against the received file hash 
        // if hashes match, download file to client 
        const success = await retrieveAndDecryptSharedFile(fileName,fileId,fileHash,AESFileKeyBuffer,encryptionFileIV,nonce);
        if (success){
          setTimeout(()=>{
             bootstrap.Modal.getOrCreateInstance(document.getElementById('downloadModal')).hide();
          },500);
         
        }else{
          errorProcess();
        }
      }catch(error){
        errorProcess();
              
        }

        

      //window.location.href = '/download/'+fileId;
      // clean up
      unsetDownloadButtonId(); 
          
        
      
      
    }


  async function downloadFile(fileId){
    let needPreDownload = true;
    // get the decrypted PK if it is not in browser: 
    if (typeof privateKey!== 'undefined' && privateKey !== null){
      // key already exists
      console.log("already loaded-> ");
      needPreDownload = false;
      console.log(document.cookie);
      updateProcess("Preparations completed, starting download...",10);
      await processUpdateMessage();
    }else{
      
      // retrieve the encrypted Private Key, IV and Salt
      updateProcess("Retrieving pre-download data from server...",5);
      
      const response = await fetch( '/download/preDownload',{
        method:'POST',
         credentials:"include",
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrfToken
        }
        
      });
      await processUpdateMessage();
      const jsonData = await response.json();
      
      if (needPreDownload){
        if (!response.ok) {
        
        updateProcess("Pre-download data retrieval failed, download cancelld");
        throw new Error('Network response was not ok');
        // to do: put some flash error msg here 
        
      }      
      }
 
      updateProcess("Obtaining private key for decryption...",5);
      await processUpdateMessage();
      //derive and decrypt here
      encIV = getCookie('encIV');
      encPrivateKey_encrypted= getCookie('encPrivateKey_encrypted');
      encSalt = getCookie('encSalt');
      enteredPass = document.getElementById('inputPassword').value;

      
      privateKeyDecrypted = await deriveAndDecryptKey(encIV,encSalt,encPrivateKey_encrypted,enteredPass);

      if (privateKeyDecrypted===null){
        updateProcess("ERROR: Password for decryption incorrect! "); // not required, will be caught as exception
        errorProcess();
        return false;
      } 
      else{
        // set the private key to the var
      privateKey = privateKeyDecrypted;
      }}  
      
      //pre download:
      updateProcess("Processing file meta-data...",5);
      await processUpdateMessage();
       
      const decryptionParams = await getFileDecryptionParms(fileId);
      
      const encryptedFileKey = decryptionParams.key;
      const encryptionFileIV = decryptionParams.encIV;
      const fileHash = decryptionParams.fileHash;
      const fileName = decryptionParams.fileName;

      try{
        console.log(privateKey);
        const AESFileKeyBuffer = await RSADecryptAESKey(privateKey,encryptedFileKey);
        //alert(AESFileKeyBuffer);
        updateProcess("File meta-data processed successfully! ",2);
        updateProcess("Retrieving file...",1);
        console.log(progressPercent);

        // TODO
        // decrypt the file using aes key 
        // hash the plaintext file client side to compare against the received file hash 
        // if hashes match, download file to client 
        const success = await retrieveAndDecryptFile(fileName,fileId,fileHash,AESFileKeyBuffer,encryptionFileIV);
        if (success){
          setTimeout(()=>{
             bootstrap.Modal.getOrCreateInstance(document.getElementById('downloadModal')).hide();
          },500);
         
        }else{
          errorProcess();
        }
      }catch(error){
        errorProcess();
              
        }

        

      //window.location.href = '/download/'+fileId;
      // clean up
      unsetDownloadButtonId(); 
          
        
      
      
    }
    // predownload done, cookies set
    
    
  
</script>
{% endblock %}

 