<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Panel</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shardsafe.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="body">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-custom px-4 py-4 d-flex align-items-center">
    <a class="navbar-brand fw-bold ps-2 fs-1" href=#> <span><i class="bi bi-shield-shaded"></i></span>SHARDSAFE</a>
    
        <div class="mx-auto">
            <span class="" style="font-size:xx-large;  color: #fff;"><i class="bi bi-lock"></i><span class="ms-1"></span>ADMIN PANEL</span>
        </div>
         <a class="nav-link {% if request.path == url_for('admin.adminViewProfiles') %}active{% endif %} d-inline  me-3" href="{{url_for('admin.adminViewProfiles')}}">View Accounts</a>
        <a class="nav-link {% if request.path == url_for('dashboard.editProfile') %}active{% endif %} d-inline  ms-3 me-3" href="{{url_for('dashboard.editProfile')}}">Edit Profile</a>
      <a class="nav-link {% if request.path == url_for('login.logoutController') %}active{% endif %} d-inline  ms-3 me-3" href="{{url_for('login.logoutController')}}">LOGOUT</a>
  </nav>
  <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'danger' or category == 'error' or category == 'message' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>

        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endif %}
      

    {% endfor %}
  {% endif %}
{% endwith %}

  </div>
  <div class="d-flex">
    <h1 class="ms-auto pe-5">Hello, {{user.username}}</h1>
  </div>
{% block content %}
{% endblock %}
</body>
