{% macro toggle_admin_modal(user) %}
<div class="modal fade" id="toggleAdminModal{{ user.username }}" tabindex="-1" aria-labelledby="toggleAdminModal{{ user.username }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form id="deleteUserForm{{ user.username }}"
          enctype="multipart/form-data"
          method="POST"
          action="{{ url_for('admin.adminToggleUser', username=user.username) }}">
      
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="modal-content" style="background-color: #f4f4f4;">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="toggleAdminModal{{ user.username }}">
            "{{ user.username }}" is currently:  <span class="fw-bold">{{user.role}}</span>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <p>Are you sure you want to toggle admin privileges for <strong>{{ user.username }}</strong>?</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Toggle</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endmacro %}